#game(ng-controller='GameController', ng-init='init()')
  #game-controls
    button(ng-click='next()', title='Run next iteration') Next
    button(ng-click='continous()', title='Continually iterate', ng-if='!running') Continuous
    button(ng-click='pause()', title='Continually iterate', ng-if='running') Pause
    button(ng-click='clear()', title='Clear the grid') Clear

  #game-board
    .grid
      .grid-row(ng-repeat='row in grid')
        .grid-cell(ng-repeat='cell in row')
          span(ng-class='{ alive: cell==="1" }', ng-repeat='{}')
            {{ cell }}
